/*estilos del formulario login y de registración*/
.body_login{
  background-image: url(../img/fondo_principal.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.body_registro{
  background-image: url(../img/card-registro.jpg);
  background-repeat: no-repeat;*/
  background-size: cover;
}
.formlogin, .formulario1{
  max-width: 450px;
  background: rgba(54, 77, 63, 0.8);
  padding: 10px;
  border-radius: 5px;
  margin: 0 auto;
  color: white;
  font-family: 'Merienda', cursive;
}
.field{
  width: 100%;
  border-radius: 3px;
  margin-bottom:  10px;
  border: none;
  padding: 10px;
}
.field:focus {
    border: 1px solid #8bc34a;
    box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, 0.25);
}
.formlogin h2, .formulario1 h2{
  margin: 20px;
  font-family: 'Special Elite', cursive;
  text-align: center;
  color: #ffecb3;
}
.formlogin h2{
  font-size: 40px;
}
.formulario1 h2{
  font-size: 28px;
}
.formlogin p, .formulario1 p{
  color: white;
  font-family: 'Merienda', cursive;
}
.formlogin button:hover, .formulario1 button:hover{
  cursor:pointer;
}
.olvidoPassword a,.Registrese a, .Login a{
  color: #ffecb3;
  text-decoration: none;
}
.bottonacceder{
  padding: 5px 10px;
  border-radius: 5px;
  border: 0;
  background-color: #8bd6a1;
  color: black;
  width: 100%;
  text-align: center;
}
.listadeRegistro{
  list-style:none;
  padding: 0;
}
.olvidoPassword,.Registrese, .Login{
  text-align: center;
}
.formlogin span{
  color: #ff9301;
}
