* {
  box-sizing: border-box;
}
body{
  background-image: url(../img/fondo-body.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.navbarra{
  padding: 0;
  font-size: 16px;
}
nav h2{
  color: #ffecb3;
  font-family: 'Special Elite', cursive;
  font-size: 32px;
  margin-top:8px;
}

.carousel-inner{
  min-height: 20vh;
}
.slide1,.slide2,.slide3,.slide4 {
  background-image: url("../img/libros-carrusel.jpg");
}
.posicion_texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 40;
}
.posicion_texto h3 {
  font-weight: 400;
  font-size: 60px;
  font-family: 'Special Elite', cursive;
  color: #ffecb3;
  margin-top: 10px;
}
.posicion_texto p {
  color: white;
  font-family: 'Merienda', cursive;
  font-weight: 700;
  font-size: 25px;
}

.contenedorprincipal{
  max-width: 1200px;
  margin: 0 auto;
}
.tablaposiciones{
  margin: 2%;
}
.miembrosvisibles{
  margin-left: 2%;
  margin-bottom: 2%;
  margin-top: 2%;
}
.tablaposiciones,.miembrosvisibles{
  background-color:#364D3F;
  padding: 10px;
}
.ayudas{
  color: white;
}
.chatgeneral{
  background-color: #4f6b5a;
  padding: 10px;
  font-family: 'Merienda', cursive;
  font-weight: 400;
  color: #ffecb3;
  margin-top: 2%;
  border-radius: 5px;
  font-size: 12px;
}

.estilotextarea{
  width: calc(100% - 110px);
  float:left;
  min-height: 35px;
  outline: none;
  font-size: 12px;
}
.chatejemplo{
  font-size: 12px;
}
.media .avatar {
    width: 50px;
}
.shadow-textarea textarea.form-control {
    padding-left: 12px;
}
.bottoncomentario:focus,.estilotextarea:focus {
    border: 1px solid #8bc34a;
    box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, 0.25);
}
h5{
  font-weight: bold;
  color: black;
  font-size: 16px;
  margin-top:0;
}
.bottoncomentario{
  padding: 5px 10px;
  border-radius: 5px;
  border: black;
  background-color: #8bd6a1;
  color: black;
  margin-left: 30px;
  margin-top: 20px;
}

.footer{
  padding: 0;
  margin: 0 auto;
}
.sectionfooter{
  background-color: #000;
  padding: 10px 0;
  color: #fff;
  justify-content: center;
}
.contenedorfooter{
  text-align: center;
}
.bottoniconos{
  padding: 0;
  border-radius: 5px;
  border: black;
  background-color: #000;
}
.bottoniconos img{
  width: 45px;
  height: 45px;
}
.sectionfooter p{
  font-size: 10px;
  font-family: 'Special Elite', cursive;
}
.copyright {
  padding: 10px 0;
  background-color: #262626;
  color: #8b8e94;
}
