* {
  box-sizing: border-box;
}
/*comienzo de estilo del perfil*/
.body-perfil{
  background-image: url(../img/fondo-perfil.jpeg);
}
.card{
  background-color:#364D3F;
}
.maxwidth_perfil{
  max-width: 1000px;
  margin: 0 auto;
}
.targeta_perfil{
  margin-top: 20px;
}
.cuadroperfil1{
  text-align: center;
  padding: 20px 10px;
}
.cuadroperfil1 h5,.tablaperfil h5, .publicaciones_perfil h5{
    font-weight: 400;
    font-size: 18px;
    font-family: 'Special Elite', cursive;
    color: #ffecb3;
}
.cuadroperfil1 .dato_usuario{
    color: white;
    font-family: 'Merienda', cursive;
    font-weight: 700;
    font-size: 12px;
    line-height: 5px;
}
.puntos_actuales{
  color: #99ebb3;
  font-family: 'Merienda', cursive;
  font-weight: 700;
  font-size: 32px;
  -webkit-text-stroke: 0.5px black;
  line-height: 10px;
}
.archivohistorico h5{
    font-weight: 400;
    font-family: 'Special Elite', cursive;
    color: #ffecb3;
    text-align: center;
}
.archivohistorico ul li a{
  text-decoration: none;
  color: white;
  font-family: 'Merienda', cursive;
  font-weight: 700;
  font-size: 12px;
}
.foto_usuario img{
  width: 100%;
  height: 100%;
}
.estadoperfil{
  padding-left: 10px;
  padding-bottom: 10px;
  color: white;
  font-family: 'Merienda', cursive;
  font-weight: 700;
  font-size: 12px;
}
.estado_textarea{
  width: 200px;
  float:left;
  min-height: 35px;
  outline: none;
  font-size: 12px;
}
.botton_estado{
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #8bd6a1;
  margin-left: 10px;
}
.botton_estado:focus,.estado_textarea:focus {
    border: 1px solid #8bc34a;
    box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, 0.25);
}
.tablaperfil,.archivohistorico,.publicaciones_perfil{
  padding: 10px;
}
.tiempoperfil{
  color: white;
  font-family: 'Merienda', cursive;
  font-size: 10px;
}
.publicaciones_perfil{
  background-color: #4f6b5a;
}
